<div class="container">
<h1><%= current_user.name %>'s Profile</h>

<h2>My Voting Buddy</h2>

<%#= current_user.friends.first.email %>
<h2>
<ul>
  <% for friend in current_user.friends %>
      <li><%= current_user.friends.first.name %></li>
  <% end %>
</ul>
</h2>



  
  <h2>Select Your Voting Buddy:</h2>
          <% for user in @users %>
              <p><%= user.name %>
              <%= link_to "Add Voting Buddy", friendships_path(:friend_id => user), :method => :post %>
              <p>
          <% end %>
  
    


<% if !current_user.address? %>
<h3> Enter your home address to find your polling location: 
    <%= form_for @user do |f| %>
        <%= f.label :Enter_your_address %>
        <%= f.text_field :address, placeholder: "Example:  12345 Main St., Santa Monica, CA  90401" %>
        <%= f.submit "Submit" %>
    <% end %> 
<% end %> 


<p><strong>Here is the polling place and hours for the address you entered:</strong></p>

<%= @user.polling_location %>
<%= @user.polling_hours %>

<p>Send your Voting Buddy a reminder to vote at the next election.</p>

    <%= form_for :user, url: messages_path, method: :post do |f| %>
        <%= f.text_area :text, class: 'text' %>
        <center><%= f.submit "Submit", class: 'button' %></center>
    <% end %>
</div>






