<h1>My Profile</h>

<h2>My Voting Buddy</h2>


  <h2>Voters List</h2>
    <div>
          <% for user in @users %>
              <p><%= user.email %>
              <%= link_to "Add Voting Buddy", friendships_path(:friend_id => user), :method => :post %>
              <p>
          <% end %>
    </div>






<ul>
    <% for friendship in @user.friendships %>
        <li><%= friendship.friend.username %></li>
    <% end %>
</ul>



<h3> Enter your home address to find your polling location: 
<% if !current_user.address? %>
<%= form_for @user do |f| %>
    <%= f.label :Enter_your_address %>
    <%= f.text_field :address, placeholder: "Example:  12345 Main St., Santa Monica, CA  90401" %>
    <%= f.submit "Submit" %>
    <% end %> 
<% end %> 



<p>Here is the polling place and hours for the address you entered:</p>

<%= @user.polling_location %>
<%= @user.polling_hours %>


Send your Voting Buddy a reminder to vote at the next election.

Enter your Voting Buddies phone number:









  