<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>





<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
          <li class="active">
            <a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

      </li>
      <% if user_signed_in? %>
        <li class="active">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li class="active">
            <%= link_to "Log In", new_user_session_path %>
      </li>
      <li class="active">
            <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <% end %>

    <!-- Dropdown -->

<!--       <li class="has-dropdown">
        <a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
        <ul class="dropdown">
          <li><a href="#">Sign In</a></li>
          <li class="active"><a href="#">Sign Up</a></li>
        </ul> -->
      </li>
    </ul>

    <!-- Left Nav Section -->
<!--     <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul> -->
  </section>
</nav>
<div id="myModal" class="reveal-modal" data-reveal>
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>








    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>


<!-- Model for Sign In & Sign Up -->









  </body>
</html>